<div class="text-center">
 <div class="bg-secondary">Details of CookBook: <b *ngIf="cookbook">{{ cookbook.name }}</b></div>
 <div class="row">
  <div class="col">Version:</div>
  <div class="col">
    <select class="form-control" [value]="selectedVersion.versionNumber"
    (change)="changeSelectedVersion($event.target.value)" *ngIf="selectedVersion">
     <option *ngFor="let ver of cookbook.versions" value="{{ver.versionNumber}}">{{ver.versionNumber}}</option>
    </select>
  </div>
 </div>
 <div *ngIf="versionDetails">
   <div class="row">
      <div class="col">
        Version Name
      </div>
      <div class="col-8">
      {{ versionDetails.name }}
      </div>
   </div>
   <div class="row">
      <div class="col">
        Recipes
      </div>
      <div class="col-8">
        <button id="showRecipesButton" class="btn-success" (click)="toggleRecipes()" >Toggle Recipes</button>
        <div [className]="getRecipesCollapseClass()">
          <div *ngFor="let recipe of versionDetails.recipes">
            {{ recipe.name }}
            <span></span>
            <button id="showRecipeDetailsButton" class="btn-warning" (click)="open(mymodal, 'Recipe '+recipe.name, recipe.url)" ><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
   </div>
   <div class="row">
      <div class="col">
        Files
      </div>
      <div class="col-8">
        <button id="showFilesButton" class="btn-success" (click)="toggleFiles()" >Toggle Files</button>
        <div [className]="getFilesCollapseClass()">
          <div *ngFor="let file of versionDetails.files">
            {{ file.path }}
            <span></span>
            <button id="showFileDetailsButton" class="btn-warning" (click)="open(mymodal, 'File '+file.name, file.url)" ><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
   </div>
   <div class="row">
      <div class="col">
        Templates
      </div>
      <div class="col-8">
        <button id="showFilesButton" class="btn-success" (click)="toggleTemplates()" >Toggle Templates</button>
        <div [className]="getTemplatesCollapseClass()">
          <div *ngFor="let template of versionDetails.templates">
            {{ template.path }}
            <span></span>
            <button id="showFileDetailsButton" class="btn-warning" (click)="open(mymodal, 'Template '+template.name, template.url)" ><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
   </div>
   <div class="row">
      <div class="col">
        Short Description
      </div>
      <div class="col-8">
      {{ versionDetails.metadata.description }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        Long Description
      </div>
      <div class="col-8">
        <pre>
{{ versionDetails.metadata.long_description }}
        </pre>
      </div>
    </div>
 </div>

 <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contents of <b>{{title}}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>
{{ content }}
    </pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
 </ng-template>
</div>
